dicttoxml==1.7.16
Django==5.1.4
django-admin-action-forms
django-bootstrap4 
django_environ==0.11.2
django_import_export==4.3.4
djangorestframework==3.15.2
docutils==0.21.2
openpyxl==3.1.5
Pillow==11.1.0
PyYAML==6.0.2
Requests==2.32.3
xmltodict==0.14.2
