{# templates/admin/index.html #}
{% extends "admin/index.html" %}
{% load i18n %}
{% block content %}
<!-- Custom selection box for tenant selection -->
{% if available_tenants|length > 1 %}
<form method="post" action=".">
    <label>
      {% translate 'Organization' %}:&nbsp;
      {% csrf_token %}    
      <select name="tenant_setup" id="tenant-select">          
          <option>-&nbsp;-&nbsp;-</option>  <!-- Show only if there are more than one tenant -->          
          {% for setup in available_tenants %}
              <option value="{{ setup.id }}" {% if setup.id == selected_tenant_setup_id %}selected{% endif %}>
                {{ setup.tenant }}
              </option>
          {% endfor %}
      </select>
    </label>&nbsp;&nbsp;
    <button type="submit" class="button button-info">
      {% translate 'Go' %}
    </button>
</form>
<br>
{% endif %}

<!-- Tenant set or is_superuser -->
{% if request.session.tenant.id or user.is_superuser %}
  {{ block.super }}
{% endif %}
{% endblock %}
